doctype html
html
  head
    title Development dashboard
    link(rel="stylesheet", href="/css/main.css")
  body
    div.container-fluid
      div.row
        div.col-md-6
          h1#commit-stats-title
          canvas#commit-stats-canvas(width="600", height="300")

  script(src="/js/main.js")
